* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 300px;
  
}
.card-img-container {
  border: 1px solid grey;
  border-bottom: none;
  height: 150px;
  width: 100%;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/neva-masquerade-royalty-free-image-1674509896.jpg?crop=0.611xw:1.00xh;0.196xw,0&resize=1200:*);
  background-size: cover;
  background-position: center;
}


.container {
  border: 1px solid grey;
}


.container h4 {
  font-size: 1.8rem;
  border-bottom: 1px solid grey;
  padding: 5px 20px;
}
.container p{
  font-size: 1.2rem;
  padding: 5px 20px;
}
.item {
  display: block;
  font-size: 1.5rem;
  border-bottom: 1px solid grey;
  padding: 5px 20px;
}
.link {
  border: 1px solid gray;
  border-top: none;
  padding: 5px 20px;
}
