*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav_container{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(34, 34, 34);
}
.nav_container h2{
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
    font-weight: 400;
}
.nav_left {
    display: flex;
    width: 50%;
}
.nav_left  ul{
    display: flex;
    align-items: end;
    
}
.nav_left li{
    padding-left: 50px;
    list-style: none;
    font-size: 1.7rem;
    
    
    
}
.nav_left li :hover{
    color: white;
}
.nav_left li a{
    text-decoration: none;
    color: grey;
}
.nav_left li select{
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: grey;
}

.nav_right{
    
    display: flex;
    justify-content: end;
    width: 50%;
}
.search{
    font-size: 1.7rem;
    border-radius: 7px;
    padding: 15px;
}
.search_button{
    font-size: 1.7rem;
    background-color: transparent;
    color: green;
    text-transform: capitalize;
    border-radius: 7px;
    padding: 15px;
    margin: 0 10px;

    border: 2px solid green;
}
