* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    font-family: Arial, Helvetica, sans-serif;
}
/* con il solo display flex e scrivendo il flex-wrap: wrap la pagina è già responsiva senza 
l'utilizzo della media query, tutta vista la consegna si scrive un grid layout con l'utilizzo 
delle media query per giustificare nelle tre viste previste  */
/* .container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
} */
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  width: 90%;
  margin: 10px auto;
  
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 350px;
  border-radius: 20px;
  padding: 20px 0;
  background: rgb(144, 144, 144);
  background: linear-gradient(
    180deg,
    rgba(144, 144, 144, 1) 0%,
    rgba(255, 255, 255, 1) 93%,
    rgba(226, 226, 226, 1) 100%
  );
}
#ball {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50px;
  margin: 5px;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}
.aaa{
    display: flex;
}
.card-footer-cont{
    padding: 5px;
    
}
.card-footer-cont h4{
    font-size: .9rem;
    font-weight: 300;

}
.card-footer-cont p{
    font-size: 0.7rem;
    color: white;

}

.card-img img {
  width: 100%;
}
.kebab-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
   
}
.kebab {
  width: 3px;
  height: 3px;
  background-color: #000000;
  border-radius: 100%;
  position: relative;
}
.kebab::before, .kebab::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  
}

.kebab::after{
    left: 7px;
}

.kebab::before{
    left: -7px;
}
.card-like{
    padding: 10px 20px;
}
span i{
  padding: 5px;
  color: #00000095;
}
.card-content{
  padding: 5px 7px;
}

.card-content p{
  font-size: 0.7rem;

}
.card-content span{
  font-weight: bolder;
}
@media screen and (max-width: 768px){
  .container{display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  width: 90%;
  margin: 10px auto;
  }

}
  
@media screen and (max-width: 375px) {
  .container{
    display: block;
    padding:10px;
    
  }
  
}